@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--light-fundo);
}


:root {
    /* fundo light */

        /* tema fundo light mode*/
            --light-fundo: #FFFF; 

        /* textos e botões */
            --black-texts: #000;
            --verde-header-botoes: #304E42;

        /* header */
            --verde-header: #304E42;
        
        /* cards */
            --cinza-card-horta-item: #D9D9D9;

            
        --verdeprabranco: #1B2D26;

    /* fundo dark */

        /* tema fundo dark mode*/
            /* --dark-fundo: #1A1A1A; */

        /* textos e botões */
            /* --black-texts-dark: #000000; */
            /* --verde-header-botoes: #304E42; */

        /* header */
            /* --verde-header: #304E42; */
        
        /* cards */
            /* --cinza-card-horta-item: #D9D9D9; */


    /* fundo contraste */

        /* tema fundo constraste */
        /* --contraste-fundo: #000000; */
}

[data-theme="dark"] {
      /* tema fundo light mode*/
      --light-fundo: #1A1A1A; 

      /* textos e botões */
          --black-texts: #ffffff;
          --verde-header-botoes: #489F7C;

      /* header */
          --verde-header: #304E42;
      
      /* cards */
          --cinza-card-horta-item: #2C2C2C;

          --verdeprabranco: #fff;

}

/* FILTRO */

.horta-item{
    height: 40vh;
    width: 15vw;
    width: fit-content;
    border-radius: 1.2vw;
    padding: 20px;

    /* margin-bottom: 5vh; */

    background-color: var( --cinza-card-horta-item);;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.horta-item h2{
    color: var(--black-texts);
    font-size: 0.9em;
}

.horta-item h3,
.horta-item h4{
    font-weight: normal;
    color: var(--black-texts);
}

.horta-item h3{
    width: 20vw;
    text-align: justify;
    font-size: 15px;
}

.horta-item h4{
    color: var(--black-texts);
}

.icon-perfil{
    width: 9vw;
}

.filtro {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    margin-bottom: 5vh;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.top h1{
    color: var(--verde-header);
}

.top p {
    color: var(--black-texts);
}

.paraFiltro {
    background-color: var(--cinza-card-horta-item);
    min-width: 20vw;
    max-width: max-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 15px;
    padding: 10px;
}

.paraFiltro h1 {
    font-size: 1em;
}


.hortas-filtro {

    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

    /* margin: 2em; */
    /* padding: 15px; */
    margin-top: 2vh;

    /* background-color: rgb(111, 45, 45); */

    height: fit-content;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 3rem;
    align-items: center;
    justify-items: center;

}

@media screen and (max-width: 700px) {
    .hortas-filtro {
        grid-template-columns: repeat(2, 1fr);
    }

    .horta-item {
        width: 8em;
    }
}

@media screen and (max-width: 390px) {
    .hortas-filtro {
        grid-template-columns: repeat(2, 1fr);
    }

    .horta-item {
        /* width: 60%; */
    }
}

/* FILTRO */

/* Cabeçalho */

header{
    background-color: #304E42;
    color: white;

    display: flex;
    align-items: center;
}

ul.nav a, ul.nav{
    text-decoration: none;
    color: white;
    list-style: none;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    justify-content: space-between;
    align-items: baseline;

    padding-left: 8vw;
    padding-right: 8vw;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: flex-end;
    align-items: center;

    font-weight: normal;
}

.Login{
    background-color: #1B2D26;
    width: 13vw;
    height: 4.5vh;
    border-radius: 0.3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.menu-login{
    position: absolute;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    
    background-color: #1B2D26;

    height: 10vh;
    width: 12vw;
    border-radius: 1vh;

    margin-top: 13.5vh;

    z-index: 20;
}

.menu-login li{
    margin-top: 1vh;

    font-weight: normal;
    font-size: 14px;

    cursor: pointer;

    transition: 0.475s;

    list-style-type: disc;
}

/* ============================= */

/* Efeito dropdown */

.Login:hover .menu-login{
    display: block;
}

li a{
    position: relative;
}

.mobile-menu-icon{
    display: none;
}

.inicio::after, .mapa::after, .doa::after, .sobre::after, .dicas::after{
    content: " ";
    width: 0%;
    height: 0.2vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: 0.2s ease-in-out;
}

li a:hover::after{
    width: 100%;
}

/* ============================================================================= */

/* Estados */

aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--cinza-card-horta-item);
    border-radius: 2vh;

    width: 20vw;
    height: 60vh;

    margin-left: 2vw;
    margin-top: 5vh;
    padding: 10px;

    gap: 2vh;

    overflow: scroll;
    overflow-x: hidden;

}

aside button{
    display: flex;
    justify-content: flex-start;
    
    padding-left: 1.3vw;

    width: 25vw;
    min-height: 5vh;

    border: none;
    /* background-color: #1B2D26; */
    background-color: transparent;
    border-bottom: rgba(0, 0, 0, 0.253) solid 1px;

    color: var(--verdeprabranco);

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}

/* ============================================================================= */

/* Mapa */



main{
    margin-left: 38vw;
    margin-top: -64vh;
    margin-bottom: 18vh;

    border: none;
}

main .mapa-completo{
    width: 50vw;
}

::-webkit-scrollbar {
    width: 5px; 
    background-color: #304E42;/* Largura da barra de rolagem */
}


/* BARRA DE ROLAGEM */
::-webkit-scrollbar-thumb {
    background-color: #34a97c; /* Cor de fundo do botão */
    border-radius: 5px; /* Raio do botão */
    height: 1vh;
}

/* ============================================================================= */

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #304E42;
    color: white;
}

@media screen and (max-width:428px){
    header{
        background-color: #304E42;
        height: 7vh;
        color: white;

        align-items: center;
    }

    .Login:hover .menu-login{
        display: none;
    }

    header h1{
        font-size: 5vw;
    }

    .nav{
        gap: 20px;
    }

    #navigation_header{
        z-index: 3;

        display: none;
        position:absolute;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        padding-right: 20px;

        background-color: #304E42;

        height: 45%;
        width: 26vw;
        border-radius: 12px;

        animation-duration: 1s;
        margin-right: -100vw;
    }

    @keyframes showSidebar {
        from{margin-right: -100vw;}
        top{margin-right: 0vw;}
    }

    .Login{
        width: 15vw;
        height: 4.5vh;
        border-radius: 1.2vw;
    }

    li a:hover::after{
        width: 0;
    }

    .icon{
        background-color: transparent;
        width: auto;
        border: none;

        color: white;
    }

    .icon-x{
        margin-top: -7vh;
        background-color: transparent;
        border: none ;

        color: white;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mapa-completo{
        transform: scale(50%);
        margin-left: -10vw;
    }

    aside{  
        width: 50vw;
        margin-left: 7%;
    }

    aside button{
        min-width: 50vw;
        min-height: 5vh;
    }

    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: -25vw;
        margin-top: -5vh;
        margin-bottom: 2vh;

        width: 100%;
    
        border: none;
    }
}